.BanerMainContainer {
  /* border: 1px solid red; */
  height: 85vh;
  display: flex;
  background: #f8f8f9;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.CalcutorTitle {
  font-family: 'Poppins', sans-serif;
  /* border: 1px solid red; */
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  margin-bottom: 1.5rem;
  text-align: center;
  color: #2b3749;
}

.CalculatorContainer {
  /* border: 1px solid yellow; */
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.CalculatorLeftImageContainer {
  /* border: 1px solid blue; */
  height: 100%;
  width: 50%;
}

.CalculatorRightCalculator {
  /* border: 1px solid green; */
  height: 98%;
  width: 50%;
  background-color:#FFFFFF;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 10px;
}


.CalculatorImageContainer{
  /* border: 1px solid red; */
}

.CalculatorImageContainer{
  width: 110%;
  height: 100%;
  object-fit: contain;
}