.FooterMainContainerComponent {
  /* border: 1px solid red; */
  height: 80%;
  display: flex;
  justify-content: center;
  width: 98%;
  padding: 2rem;
}

.FooterContainerHead {
  /* border: 1px solid blue; */
  height: 80%;
  width: 35%;
}

.FooterContainerCompany {
  /* border: 1px solid yellow; */
  height: 50%;
  width: 12%;
  padding: 2rem;
}

.FooterContainerResources {
  /* border: 1px solid purple; */
  height: 50%;
  width: 12%;
  padding: 2rem;
}

.FooterContainerNewsletter {
  /* border: 1px solid green; */
  height: 70%;
  width: 20%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.FooterCompanyDetails {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  height: 90%;
  width: 80%;
  padding: 2rem;
}

.FooterCompanyDetailsTop {
  display: flex;
  /* border: 1px solid blue; */
  height: 90%;
  width: 100%;
  flex-direction: column;
}

.FooterCompanyDetailsContactSection {
  display: flex;
  /* border: 1px solid green; */
  margin-top: 10px;
  height: 90%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.MobileDetailsFooter {
  font-family: "Poppins", sans-serif,;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #33373e;
  margin-bottom: 10px;
}

.FooterCompanyName {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #1b1c31;
}

.FooterCompanyNameBottom {
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  width: 70%;
  color: #33373e;
}

.FooterCompanyDetailsBottom {
  /* border: 1px solid red; */
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  margin-left: 2rem;
  color: #21252c;
}

.RightsFooter {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  font-family: "Poppins", sans-serif;
  color: #21252c;
}

.TitleBottomComponent {
  /* border: 1px solid red; */
  font-family: "Poppins", sans-serif;
  font-weight:600;
  font-size: 18px;
  line-height: 25px;

  color: #21252c;
  display: flex;
  width: 100%;
}

.TitleBottomList {
  /* border: 1px solid red; */
  font-family: "Poppins", sans-serif;

  padding: 0;
  margin: 0;
  margin-top: 10px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.TitleBottomListItem {
  margin-bottom: 20px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #181433;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.FooterJoinOur {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #21252c;
}

.FooterContainerNews {
  /* border: 1px solid red; */
  height: 80%;
  display: flex;
  flex-direction: column;
}

.EmailAddressInput {
  margin-top: 15px;
  width: 289px;
  height: 52px;
  background: #e3ecfc;
  border-radius: 10px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  border: none;
  letter-spacing: -0.02em;
  outline: none;
}

.EmailAddressSubscribe {
  width: 111px;
  height: 46px;
  left: 1090px;
  top: 2809px;
  background: #1c6ef7;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.06em;

  color: #ffffff;
  border: none;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-top: 1rem;
}

.EmailInputContainer {
  display: flex;
  margin-top: 10px;
  /* align-items: center; */
  flex-direction: column;
}

.BottomTextForEmail {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  letter-spacing: -0.02em;
  color: #181433;
  opacity: 0.5;
  margin-top: 2rem;
}

.FooterBottomIcon {
  width: 50px;
  height: 30px;
}

.LogoDuestakeFooter {
  height: 100%;
}
