.FooterMainContainerComponent {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
}

.FooterMainContainer {
  /* border: 1px solid red; */
  height: 60%;
  display: flex;
  width: 100%;
}

.FooterContainerHead {
  /* border: 1px solid blue; */
  height: 90%;
  width: 25%;
}

.FooterContainerCompany {
  /* border: 1px solid yellow; */
  height: 50%;
  width: 20%;
  padding: 2rem;
}

.FooterContainerResources {
  /* border: 1px solid purple; */
  height: 50%;
  width: 20%;
  padding: 2rem;
}

.FooterContainerNewsletter {
  /* border: 1px solid green; */
  height: 90%;
  width: 40%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.FooterCompanyDetails {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  height: 80%;
  width: 80%;
  padding: 2rem;
}

.FooterCompanyDetailsTop {
  display: flex;
  /* border: 1px solid blue; */
  height: 90%;
  flex-direction: column;
}

.FooterCompanyName {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #1b1c31;
}

.FooterCompanyNameBottom {
  margin-top: 20px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #757095;
}

.FooterCompanyDetailsBottom {
  /* border: 1px solid red; */
}

.TitleBottomComponent {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  /* identical to box height, or 114% */
  color: #181433;
  display: flex;
  align-items: center;
  justify-content: center;
}

.TitleBottomList {
  margin-top: 4rem;
  /* border: 1px solid red; */
  list-style: none;
  margin-right: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.TitleBottomListItem {
  margin-bottom: 20px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #181433;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.FooterJoinOur {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 24px;
  color: #181433;
}

.FooterContainerNews {
  /* border: 1px solid red; */
  height: 80%;
  display: flex;
  flex-direction: column;
}

.EmailAddressInput {
  margin-top: 15px;
  width: 289px;
  height: 52px;
  background: #e3ecfc;
  border-radius: 10px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  border: none;
  letter-spacing: -0.02em;
  outline: none;
}

.EmailAddressSubscribe {
  width: 111px;
  height: 46px;
  left: 1090px;
  top: 2809px;
  background: #1c6ef7;
  border-radius: 8px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  border: none;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-top: 1rem;
}

.EmailInputContainer {
  display: flex;
  align-items: center;
}

.BottomTextForEmail {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  letter-spacing: -0.02em;
  color: #181433;
  opacity: 0.5;
  margin-top: 2rem;
}


.FooterBottomIcon{
    width: 50px;
    height: 30px;
}