.SubBannerMainContainer {
  /* border: 1px solid red; */
  height: 100%;
  /* padding: 1rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.SubBannerContainerImage {
  /* border: 1px solid red; */
  height: 70%;
  width: 25%;
}

.SubBannerContainerContents {
  /* border: 1px solid yellow; */
  height: 75%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.SubBanerImage {
  object-fit: contain;
  height: 100%;
  width: 90%;
}

.SubBanerContainerTitleKey {
  width: 80%;
}

.SubBanerContainerTitleValue {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #2b3749;
  /* border: 1px solid red; */
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.SubBanerContainerContent {
  display: flex;
  flex-direction: column;
}

.SubBanerContainerKey {
  font-family: "Poppins", sans-serif;

  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #2b3749;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.SubBanerContainerValue {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: "Poppins"f;

  color: #2b3749;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
