.CalculatorMainContainer {
  /* border: 1px solid red; */
  height: 90%;
  width: 85%;
}

.PrincipalAmountScrolbar {
  /* border: 1px solid red; */
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.AmountCalcultorBottom {
  /* border: 1px solid blue; */
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.SliderOP {
  width: 100%;
}

.AmountContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ApplyLoanButton {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.AmountRepresenting {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 25%;
}

.PayMonntly {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 900;
  line-height: 19px;
  color: #000000;
  font-weight: 600;
}

.AmountContainerValue {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 900;
  line-height: 19px;
  color: #000000;
  font-weight: 600;
}

.PayMonntlyValue {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 900;
  line-height: 19px;
  color: #000000;
  font-weight: 600;
}

.TermsOfUser {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 900;
  line-height: 19px;
  color: #000000;
  font-weight: 600;
}

.TermsOfUserValue {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 900;
  line-height: 19px;
  color: #000000;
  font-weight: 600;
}

.PayBack {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  color: #000000;
  font-weight: 600;
}

.PayBackValue {
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  color: #000000;
  font-weight: 600;
}

.ApplyForLoan {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  width: 170px;
  height: 44px;
  left: 0px;
  top: 280px;
  border: none;
  background: #1c6ef7;
  border-radius: 4px;
  color: #ffffff;
}

.TermsConditionLine {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  margin-top: 1rem;
  font-family: "Poppins", sans-serif;
  color: #8c8c8c;
}
