.ProccesMainComponent {
  /* border: 1px solid red; */
  height: 100%;
  background: #f8f8f9;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.ProccesMainTitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */
  font-family: "Poppins", sans-serif;
  text-align: center;
  width: 195px;
  height: 33px;
  color: #2b3749;
}

.DuesStakeProccesContainerMain {
  /* border: 1px solid red; */
  height: 30%;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.DuestakeProccesContainer {
  width: 250px;
  height: 110px;
  /* border: 1px solid red; */
  background: #fdfdfd;
  border: 1px solid rgba(0, 0, 0, 0.11);
  box-shadow: 0px 25px 25px rgba(17, 17, 17, 0.06);
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DuestakeProccessBankImg {
  width: 20%;
  /* border: 1px solid red; */
}

.ProcessName {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  margin-left: 10px;
  text-align: center;

  color: #000000;
}
