.ImpactMainComponent {
  /* border: 1px solid red; */
  height: 100%;
  background: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ImpactMainTitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */
  font-family: "Poppins", sans-serif;
  text-align: center;
  width: 195px;
  height: 33px;
  color: #2b3749;
  margin-bottom: 2rem;
}

.DuestakeImpactBox {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ProcessNameTitle {
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #2b3749;
  margin-bottom: 1rem;
}

.DuesStakeImpactContainerMain {
  /* border: 1px solid red; */
  height: 30%;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.DuestakeImpactContainer {
  width: 180px;
  height: 51px;
  /* border: 1px solid red; */
  background: #fdfdfd;
  border: 1px solid rgba(0, 0, 0, 0.11);
  box-shadow: 0px 25px 25px rgba(17, 17, 17, 0.06);
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DuestakeImpactBankImg {
  width: 20%;
  /* border: 1px solid red; */
}

.ImpactName {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  margin-left: 10px;
  text-align: center;

  color: #000000;
}
