@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Hide all scrollbar elements */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar thumb */
::-webkit-scrollbar-thumb {
  display: none;
}

/* Hide scrollbar track */
::-webkit-scrollbar-track {
  display: none;
}
